<div class="FoodList">
    <% Menu.forEach((food) => { %>
        <% if (Category != 'any') {%>
            <% if(food.category != Category) return; %>
        <% }%>
        <div class="Food">
            <img src="<%= food.image %>" alt="<%= food.name %>" class="Food__Image">
            <p class="Food__Name"><%= food.name %></p>
            <p class="Food__Description"><%= food.description %></p>
            <p class="Food__Price">Цена: <%= food.price %> руб.</p>
            <p class="Food__Quantity-Title">Количество</p>
            <div class="Food__Manage-Quantity">
                <button class="Food__Decrease-Quantity">-</button>
                <p class="Food__Quantity">1</p>
                <button class="Food__Increase-Quantity">+</button>
            </div>
            <% if(food.category == "sandwiches") {%>
                <button class="Food__Move-To-Modal">НАСТРОИТЬ</button>
                <% } else {%>
                <button class="Food__Add-To-Shopcart-Button">В КОРЗИНУ</button>
                <% }%>
        </div>
    <% }) %>
</div>